{% for contact in contacts %}
    <tr>
        <td><input type="checkbox" name="selected_contact_ids" value="{{ contact.id }}"></td>
        <td>{{ contact.first }}</td>
        <td>{{ contact.last }}</td>
        <td>{{ contact.phone }}</td>
        <td>{{ contact.email }}</td>
        <td>
            <div data-overflow-menu>
                <button type="button" aria-haspopup="menu"
                    aria-controls="contact-menu-{{ contact.id }}"
                    >Options</button>
                <div role="menu" hidden id="contact-menu-{{ contact.id }}">
                    <a role="menuitem" href="/contacts/{{ contact.id }}/edit">Edit</a>
                    <a role="menuitem" href="/contacts/{{ contact.id }}">View</a>
                    <a role="menuitem" href="#">Delete</a>
                </div>
            </div>
        </td>
    </tr>
{% endfor %}
{% if contacts|length == 10 %}
    <tr id="loadMoreRow">
        <td colspan="5" style="text-align: center">
        <input type="hidden" id="hiddenQuery" name="q" value="{{ search_query }}">
        <input type="hidden" id="hiddenPage" name="page" value="{{ page + 1 }}">
        <span hx-target="#loadMoreRow"
            hx-trigger="revealed delay:100ms"
            hx-swap="outerHTML"
            hx-include="#hiddenQuery, #hiddenPage"
            hx-post="/contacts">
            Loading More...
        </span>
        </td>
    </tr>
{% endif %}